.back{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	// background: #d9d9d9;
    padding-top: 20px;
}
.table{
	width: 75%;
	height: 70%;
	border-collapse: collapse;
	border-radius: 1em;
    overflow: hidden;
}
.close{
	color: #ffffff;
	background-color: #1eff00;
}
.reject{
	color: #ffffff;
	background-color: #ff0000 ;
}
.inprogressbtn{
	color: #ffffff;
	background-color: #3a67e3d0;
}
.pass{
  color: #3ae34b;
  font-weight: bold;
}

.fail{
  color: #ff0000;
  font-weight: bold;
}
.inprogress{
  color:#3a67e3b6;
  font-weight: bold;
}

.table td,.table th{
	padding: 1px 39px;
    /* border: 1px solid #ddd; */
    text-align: center;
    font-size: 16px;
}

.table th{
	background-color: rgba(58, 103, 227, 0.7137254902);
    color: #ffffff;
    padding: 18px 0px;
}
.table tbody tr{
	background-color: #ffffff;
	border-bottom: 1px solid #dfdfdf;
}
// .table tbody tr:nth-child(even){
// 	background-color: #bcbcbc;
// }

.button{
	color: #e2e2e2;
	background-color: #3a67e3d0 ;
}


  
  .btn{
	
  background-color: #5b5b5b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
//   margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;

  }
 
  .btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

.modalimg{
    width: 150px;
    border-radius: 10px;
}

.modalwrapper{
    display: flex;
    padding: 10px;
}

.details{
    padding-left: 30px;
}

.imgwrapper{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 span {
    color: rgb(0, 0, 0);
}

h4{
    padding: 5px;
}

.decs{
    font-weight: normal;
}
.decs span{
    font-weight: 1000;
}
.btn {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 10px;
  }