.mainwrapper
{
  padding: 40px;
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dmain{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 30%;
}

.image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image img{
  margin: 20px;
  width: 100px;
  border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // max-width: 300px;
    width: 545px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #d5e4e6;
  }
  .edit{
    position: relative;
    left: 41px;
    bottom: 43px;
    background: #a5c8cc;
    border: 1px solid #ffffff00;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .email {
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 29px 0px 29px 0px;
    // margin-right: 80px;
  }

  .number{
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 7px 0px 29px 0px;
    // margin-right: 205px;
  }

 

  .name{
    font-weight: 1000;
    font-size: 20px;
    padding: 6px 0px 8px;
  }
  
  .dob{
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 7px 0px 29px 0px;
    // margin-right: 217px;
  }

  .gender{
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 7px 0px 29px 0px;
    // margin-right: 325px;
  }

  .pincord{
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 7px 0px 29px 0px;
    // margin-right: 300px;
  }

  .area{
    color: rgb(93, 90, 90);
    font-size: 20px;
    padding: 7px 0px 29px 0px;
    // margin-right: 305px;
  }
  .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
  @media only screen and (max-width: 415px) {
    .card{
      width: 350px;
      height: 750px;
    }
    .card p{
      font-size: 15px;
    }
  }