.select{
    width: 500px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0px;
    font-size: 16px;
    outline: none;
    background-color: #d5e4e6;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.select option{
    background-color: white;
}
option {
    width: 250px;
  }
.description{
    height: 50px;
    width: 500px;
    padding-left: 10px;
}
.card{

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding: 20px;
}
.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.label{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 8px;
}
h4{
    padding: 10px 0px;
}
.submit{
    width: 500px;
}
.file{
    width:500px;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file + label {
    width: 500px;
    background-color: rgb(212, 212, 212);
    display: inline-block;
    // border-color: #000;
    // border-width: 2px;
    cursor: pointer;
    padding: 5px 0px;
}

.main{
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    margin: 80px 0;
}
@media only screen and (max-width: 412px) {
    .card{
        width: 346px;
    }
    .select{
        width: 309px;
    }
    .description
    {
        width: 309px;
    }
    .file + label {
        width: 309px;
    }
    
  }